/*-  CSS RESET
----------------------------------------------------------------------*/

/* 
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
  list-style:none;
}                  
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
    display:block;
}


/*-  BASE STYLES
----------------------------------------------------------------------*/

html {
/* 	background: #F2F2F2; */
	background: #E4E1DD;
}

body {

	color: #4C4C4C;
 	font: normal 16px/26px 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif; 
 	/*font: normal 16px/26px 'Helvetica Neue', Helvetica, Arial, sans-serif; */
	max-width: 700px;
	margin: 75px auto;
	padding: 0 20px;
	-webkit-font-smoothing: antialiased;
	
}

a {
	color: #4793bb;
	text-decoration: underline;
}

a:hover, a:focus, a:active  {
	text-decoration: none;
	color: #147eb7;
}

.left { 
	float: left;
	padding-right: 1em;
}
.right { 
	float: right; 
	padding-left: 1em; 
}



/*-  HEADINGS + HEADING LINKS
----------------------------------------------------------------------*/

h1, h2, h3, h4, p, ul, pre { 
	margin-bottom: 22px;
	padding:0 40px;
}

h1, h2, h3, h4 { 
	margin-top: 22px;
}

h1 { 
	line-height: 1.4em; 
	font-size: 24px;
}

h1, h2 {
	border-bottom: 1px solid #E5E5E5;
	padding-bottom: 22px;
}

h3 { 
	font-size: 21px;
	line-height: 1.4em;
}

h1 a {
	color: #4C4C4C;
	text-decoration: none;
}

h1 a:hover, h1 a:focus, h1 a:active {
	
	color: #4793bb;
}

blockquote { 
    border-left: 4px solid #ccc;
    margin-left: 40px;
    
}

pre {
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    background: #f7f7f7;
}

#archive h2 {

	background: #F9F9F9;
	border-top: 1px solid #EFEFEF;
	padding-top: 22px;
	margin-top:0;
}

/*-  STRUCTURE
----------------------------------------------------------------------*/

aside, article, #archive, form, #txpCommentInputForm, .comments li {
	background: #FFF;
	border: 1px solid #E5E5E5;
	clear: both;
	padding-bottom: 18px;
	border-radius: 5px;
	border-bottom-width: 2px;
}

#archive {
	margin-top: 30px;
}


#article-nav {
    margin-top: 20px;
    padding:8px 40px;
    text-align: center;
}

#article-nav p {
    display: inline;
    padding: 0 20px;;
}

#article-nav a {
    padding: 8px 20px;
    background: #4793bb;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
}

#article-nav a:hover, #article-nav a:focus, #article-nav  a:active {
    background: #4C4C4C;
}

#article-nav a:before,  #article-nav a:after {
    padding: 4px;
    font-size: 130%;
}

#article-nav #older a:before {
    content: "\00ab";
}

#article-nav #newer a:after {
    content: "\00bb";
}

aside { 
	padding: 40px;
	clear: both; 
	overflow: auto;
}

aside img {
	float: left;
	margin-right: 40px;
	border: 1px solid #CCC;
}

aside p {
	padding: 0;
	margin: 0;
	margin-top: 20px;
}

article { 
	margin-top: 40px;
}

article p, aside p {	
	/* font-family: "Trebuchet MS";
	font-family: 'Open Sans', sans-serif;
	 -webkit-text-size-adjust: none; */
}

article ul li { 
	list-style-type: circle; 
	list-style-position: inside;
	margin-bottom: 22px;
}

nav ul li {
	display: inline;
	padding: 0 15px;
/* 	border-left: 1px solid rgba(0,0,0,0.3); */
}


/*-  NON STRUCTURAL ELEMENTS
----------------------------------------------------------------------*/

.other { 
	border: none; 
	padding-left: 40px; 
}

nav ul li:first-of-type {
	border: none;
}

nav ul { 
	display: block;
	float: right;
	overflow: auto;
	margin-bottom: 25px;
	padding: 0;
}

nav ul li a {
	color: #888;
	font-weight: normal;
	text-decoration: none;
}

nav ul li a:hover, nav ul li a:focus {
	color: #000;
}

.post-image {
	border-bottom: 1px solid #EEEEEE;
	height: auto;
	display: block;
	max-width: 100%;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.meta { 
	border-top: 1px solid #E5E5E5; 
	padding-top: 40px; 
	margin-top: 22px; 
	opacity: 0.6;    
	-webkit-transition:opacity 0.3s ease-in;
    -moz-transition:opacity 0.3s ease-in;
    -o-transition:opacity 0.3s ease-in;
    transition:opacity 0.3s ease-in;
}

.meta:hover { 
	opacity: 1; 
}

.permlink { 
	float: right; 
	display: block; 
	background: url(/assets/permalink.png) center right no-repeat; 
	padding-right: 30px;
}

fieldset { border: none;}
fieldset h3 {  padding-bottom: 5px; font-size: 16px; }
fieldset label { width: 180px; display: block; float: left; font-size: 14px; }
fieldset input[type='text'] { border: #E5E5E5 solid 1px; background: #FEFEFE; padding: 6px; width:400px;}
fieldset input:focus { background: #FFF; }
fieldset textarea { display: block;border: #E5E5E5 solid 1px; background: #FEFEFE; padding: 6px;  width:400px; height: 140px;}
fieldset textarea:focus { background: #FFF; }

.comments li { width: 100%; margin-bottom: 40px; opacity: 0.6;}
.comments li:hover { opacity: 1;}

@media screen and (max-width: 700px) {
	
	article img { max-width: 100%; height: auto; }
	body      { margin: 20px auto; font-size: 14px; line-height: 1.4em;}
	pre 	  {  overflow: auto;}
	h1, h2, h3, h4, p, ul, pre { padding: 0 20px; }
	aside { padding: 20px; }
}

@media screen and (max-width: 480px) {
	aside img { float: none; margin:0 auto 10px auto; display: block;  }
}
